[submodule "Spotlight/vendor/spdlog"]
	path = Spotlight/vendor/spdlog
	url = https://github.com/JustARegularPlayer/spdlog
[submodule "Spotlight/vendor/ImGui"]
	path = Spotlight/vendor/ImGui
	url = https://github.com/JustARegularPlayer/imgui
[submodule "Spotlight/vendor/glm"]
	path = Spotlight/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Spotlight/vendor/GLFW"]
	path = Spotlight/vendor/GLFW
	url = https://github.com/JustARegularPlayer/glfw
